html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #eeeeee;
}

footer {
    color: #dddddd;
    text-align: center;
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear: both;
    padding-top: 0.5em;
    font-size: smaller;
}

footer a {
    color: #dddddd;
}

[v-cloak] {
    display: none;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-nav .nav-link {
    color: #dddddd;
}

.navbar .navbar-nav .active .nav-link {
    color: white;
    font-weight: bold;
}

#main {
    margin-top: 20px;
    overflow: auto;
    padding-bottom: 50px;
}

.card {
    margin: 10px;
    border: 2px solid #d8d8d8;
}

.card-header {
    background-color: #d8d8d8;
    font-size: 1em;
}

.card-body {
    background-color: #eeeeee;
    font-size: .8em;
}

.card-text {
    margin: auto;
    background-color: #e2e2e2;
}

.card-text > div {
    padding: 1em;
}

.votes {
    font-size: 3em;
    font-weight: bold;
}

.presenters {
    font-size: x-small;
}
