{% extends "main/base.html" %}
{% load static %}

{% block content %}


    <h3>Publications on {{ date|date:"Y-m-d" }}</h3>
    <hr class="my-4">


    <div class="row">
        <div class="col-9">
            {% include "main/publication_list.html" %}
        </div>
        <div class="col-3">
            <div id="datepicker" data-date-format='yyyy-mm-dd' data-date="{{ date|date:"Y/m/d" }}"
                 data-date-today-highlight="true"></div>
        </div>
    </div>

    <script>
        calendar = $('#datepicker').datepicker()
            .on('changeDate', (event) => {
                $(location).attr('href', '/' + event.format('yyyy/mm/dd') + '/');
            });
    </script>

{% endblock %}