<nav class="navbar navbar-expand-lg bg-danger">
    <a class="navbar-brand" href="#">AJC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name != "next" %}active{% endif %}">
                <a class="nav-link" href="{% url 'main:home' %}">
                    Home
                    {% if request.resolver_match.url_name != "next" %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "next" %}active{% endif %}">
                <a class="nav-link" href="{% url 'main:next' %}">
                    Next meeting
                    {% if request.resolver_match.url_name == "next" %}
                        <span class="sr-only">(current)</span>
                    {% endif %}
                </a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if user.is_authenticated %}

                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Welcome, {{ user.username }}</a></li>

            {% else %}

                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Register</a></li>

            {% endif %}
        </ul>
    </div>
</nav>